body {
	background-color: #A2D7F2;
	color:#333333;
}

.timetable-box {
	float: left;
	max-width: 60%;
}
.route-map-box {
	margin-left: 60%;
}

/*------------------------------------*\
    #TIMETABLE
\*------------------------------------*/

.timetable {
	background-color: #bde0f2;
	border-collapse: collapse;
	color:#333333;
	min-width: 500px;
}

.tt__header {
    background-color: #fff;
    font-weight: bold;
}

.timetable td {
	border-color: #999999;
	border-style: solid;
	border-width: 1px;
    padding: 1px 10px;
}

.text-bubble:hover{
    color: #999999;
}

.hover-highlight:hover {
    background-color: #ffff99;
}

.timetable .departure td a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
    color: #333333;
    display:block;
    width:100%;
}

.text-bubble {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-bottom: 0;
    margin-top: 0;
    min-width: 77px;
    padding: 0px 1px;
    text-align: center;
}







/*------------------------------------*\
    #OPTIONS-AREA
\*------------------------------------*/

.bookmark a {
    display: inline;
    text-decoration: underline !important;
    font-size: 10pt;
}

.select2-results {
    max-height: 500px !important;
}

.btn {
    background: #777;
    background-color: #bde0f2;
    border: 1px none;
    border-style: solid;
    border-color: #999999;
    color:#333333;
    cursor: pointer;
    display: inline;
    padding: 5px 10px;
}
    .btn:hover {
        background-position: 0 -48px;
    }
    .btn:active {
        background-position: 0 top;
        position: relative;
        top: 1px;
    }

.timedisplay {
    background-color: #bde0f2;
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    color:#333333;
    padding: 8px;
    max-width: 33%;
}

.select-container, 
.btn-container {
    margin-left: 13px;
}






/*------------------------------------*\
    #ABOUT-WINDOW
\*------------------------------------*/

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#aboutWindow {
    background: #A2D7F2;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    display: none;
    padding: 18px 18px 14px 18px;
    width: 404px;
}

#aboutWindow p {
    font-size: 10pt;
}
#aboutWindow p a{
    text-decoration: underline !important;
}